<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
        <li>
            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-plus fa-stack-1x "></i></span>Create Request</a>
        </li>
        <li>
            <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>View Requests</a>
        </li>
        <li>
            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-check fa-stack-1x "></i></span>Approved Requests</a>
        </li>
        <li>
            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-envelope fa-stack-1x "></i></span>Notifications</a>
        </li>
        <li>
            <a href="/user/logout"><span class="fa-stack fa-lg pull-left"><i class="fa fa-sign-out fa-stack-1x "></i></span>Logout</a>
        </li>
    </ul>
</div>